version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_KRAFT_MODE: 'true'
      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs

    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

    volumes:
      - kafka_kraft:/var/lib/kafka/data

  mongo:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "rootpass"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  producer:
    build: ./producer
    container_name: producer
    depends_on:
      kafka:
        condition: service_healthy
      mongo:
        condition: service_started
    environment:
      TOPIC: "OrCu"
      BOOTSTRAP_SERVERS: "kafka:9092"
      MONGO_HOST: "mongodb://mongo"
      MONGO_PORT: 27017


  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      mysql:
        condition: service_started
      kafka:
        condition: service_healthy
    environment:
      TOPIC: "OrCu"
      BOOTSTRAP_SERVERS: "kafka:9092"
      SQL_HOST: "mysql"
      SQL_USER: "root"
      PASSWORD: "rootpass"
  
  api:
    build: ./analystic-api
    container_name: analystic-api
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_started
    environment:
      SQL_HOST: "mysql"
      SQL_USER: "root"
      PASSWORD: "rootpass"




  
volumes:
  kafka_kraft:
  mongo_data:
  mysql_data:
